@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    cursor:none;
}
body{

    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
body img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit:fill;
    opacity: 1;  
    z-index: 1; 
    /* filter: brightness(50%);
    filter: contrast(120%);
    filter: saturate(120%);
    filter: drop-shadow(8px 8px 10px rgb(78, 120, 236)); */
}

/*.image{
  width:100%;
  height: 100vh;
  background:url('page1.jpg') no-repeat center;
  background-size: cover;
  z-index:1;
  filter: brightness(50%);
  filter: contrast(120%);
  filter: saturate(120%);
  filter: drop-shadow(8px 8px 10px rgb(78, 120, 236));
}*/
  

/*CURSOR*/
.cursor{
    z-index:999;
    background: #080808;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #00c5f7,
                0 0 60px #3ff7c9,
                0 0 100px #ffffff;
    animation: colors 5s infinite;
    position: fixed;
    transform: translate(-290%,-50%);
    display: none;
}

@keyframes colors
{
    0%
    {
        filter:brightness(100%);
    }
    50%
    {
        filter: brightness(150%);
    }
    100%
    {
        filter: brightness(200%);
    }
}

.cursor:before{
content: '';
position: absolute;
background:#000000;
width: 40px;
height: 40px;
opacity: 0.2;
transform: translate(-30%,-30%);
border-radius: 50%;
}

/*div #btn
{   text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    color: #000000;
    font-size:  1.4em;
    font-weight: 800;
    letter-spacing: 2px;
    transform: translateY(-200%);
    border-radius: 30px;
    background-color: gray;
    align-items: center;
    justify-content: center;
    z-index:999;
}

div #btn:hover
{
    background-color: rgb(255, 192, 44);
    text-decoration-style: double;
    border-radius: 10px;
    opacity: 0.5;
}*/

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 4px;
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 800;
    /*letter-spacing: 2px;*/
    bottom: 10px;
    border-radius: 50px;
    background-color: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
}

#btn:hover {
    color: rgb(192, 191, 191);
    background-color: None;
    font-size:3em;
    transform: translateY(1px);
    transition-duration: 0.3s infinite;
    transition-timing-function: ease-in-out;
}

/*PARAGRAPH*/
body div p1
{   color: rgb(255, 255, 255);
    position: absolute;
    right:0;
    padding:10px 10px;
    text-align: center;
    /*align-items: center;*/
    /*justify-content: center;*/
    line-height: 2em;
    font-family: "Kode Mono", monospace;
    font-size: 18px;
    margin: 10px 50px;
    font-weight: 300;
    animation: myfloat 7s infinite;
    animation-timing-function: ease-in-out;
    z-index: 2;
}

body div p1:hover{
    font-weight: 500;
}

@keyframes myfloat{
    0%{transform: translateY(0%);}
    50%{transform: translateY(10%);}
    100%{transform: translateY(0%);}
}

.container{
    position: absolute;
    width:100%;
    height:100vh;
    overflow: hidden;
}

.bubbles{
    position: relative;
    display: flex;
    z-index: 999;
}

.bubbles span{
    position: relative;
    width: 20px;
    height: 20px;
    aspect-ratio: 1 / 1;
    background: #eea2f5;
    margin:0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgb(202, 151, 245),
    0 0 50px rgb(183, 123, 240),
    0 0 100px rgb(214, 170, 255);
    animation: animate 13s linear infinite;
    animation-duration: calc(125s/var(--i));
}

.bubbles span:nth-child(even)
{
    background: #9cbce0;
    box-shadow: 0 0 0 10px rgb(165, 165, 247),
    0 0 50px rgb(152, 177, 231),
    0 0 100px rgb(108, 122, 250);
}

@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(0.7);
    }
}

